@import '../mixins.scss';

.books-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include card-style;

  font-family: 'Open Sans', sans-serif;

  .expand-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

}