@import '../mixins.scss';

.books-card {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include card-style;

  font-family: 'Open Sans', sans-serif;

}

@media screen and (max-width: 420px) {
  .books-card {
    width: auto;
  }
}