@import '../mixins.scss';

.projects-card {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Open Sans', sans-serif;

  @include card-style;

}