
.App {

  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100% !important;
    width: 100%;
    background: url('./assets/playstation-pattern.png');
    flex-wrap: wrap;
  }
}


a {
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: color 0.5s;
}

a:hover {
  color: grey;
}

div {
  display: inline;
}
